.navigation {
    position: fixed;
    width: 100%;
    height: 88px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid $color-primary-dark;
    top: 0;
    overflow: hidden;
    display: none;

    &--list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            border-radius: 10px;
            background: black;
            border: 2px solid $color-primary-dark;
            color: $color-primary;
            cursor: pointer;
            transition: opacity ease-in-out 0.4s;

            svg {
                width: 40px;
                height: 40px;
                margin: 5px 20px;
                transition: all ease-in-out 0.1s;
            }

            &:hover,
            &.active {
                background-color: $color-primary-dark;
                color: white;
                margin: 10px 20px 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                transition: all ease-in-out 0.1s;
                border-bottom-width: 0;
            }

            &.active {
                svg {
                    transform: scale(1.2);
                }
            }

            &:hover {
                background-color: $color-primary-darkest;
            }

            &.disabled {
                opacity: 0.3;
                cursor: initial;
                transition: all ease-in-out 0.4s;

                &:hover,
                &.active {
                    margin: 20px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-bottom-width: 2px;

                    svg {
                        transform: scale(1);
                        color: $color-primary-dark;
                    }
                }
            }
        }
    }
}
