.navigation {
    position: fixed;
    width: 100%;
    height: 88px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid $color-primary-dark;
    top: 0;
    overflow: hidden;
    display: block;

    &--refresh,
    &--side,
    &--order {
        position: absolute;
        top: 25px;
        left: 25px;
        background-color: rgba(white, 0.1);
        padding: 2px 10px;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: right;

        &__switch {
            position: relative;
            width: 50px;
            height: 26px;
            display: inline-block;
            background-color: $color-warn;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            margin: 5px;

            &:before {
                position: absolute;
                content: "";
                left: 4px;
                top: 4px;
                width: 18px;
                height: 18px;
                background-color: white;
                border-radius: 18px;
                transition: all 0.2s ease-in-out;
            }

            &.active {
                background-color: $color-primary;
                transition: all 0.2s ease-in-out;

                &:before {
                    transform: translateX(24px);
                    transition: all 0.2s ease-in-out;
                }
            }
        }

        &__label {
            font-size: $fs-xs;
            line-height: 20px;
            display: inline-block;
            margin: 5px;
        }
    }

    &--side {
        left: inherit;
        right: 20px;

        &__switch {
            background-color: $color-primary;
        }
    }

    &--order {
        top: 45px;
        left: 50%;
        transform: translate(-50%, -50%);

        &__title {
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $fs-xxs;
        }

        &__switch {
            background-color: $color-primary;
        }
    }
}
