.idea/**/*
node_modules
.hot
npm-debug.log
.env

frontend/dist
server/dist
server/config/default.conf
server/config/frontend

rtl_433/mapping.json
zigbee2mqtt/**/*

!.gitkeep
!zigbee2mqtt/configuration.yaml.example