.modal {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 0.9) 100%, rgba(181, 0, 255, 0.9) 0%);

    button {
        cursor: pointer;

        &[data-button=close] {
            position: absolute;
            right: 20px;
            top: 20px;
            background-color: rgba(255, 255, 255, 0.1);

            svg {
                width: 50px;
                height: 50px;
                margin: 10px;
                color: white;
            }

            &:hover {
                background-color: $color-primary;

                svg {
                    color: white;
                }
            }
        }

        &[data-button=submit] {
            position: absolute;
            margin: auto;
            bottom: 20vh;
            font-size: $fs-xl;
            line-height: $fs-xl;
            font-weight: bold;
            background-color: $color-primary-dark;
            color: white;
        }
    }

    &--title {
        font-weight: 600;
        margin-top: 40px;
    }
}
