[data-tab] {
    transform: translate3d(0, -100vh, 0);
    transition: all ease-out 0.5s;
    opacity: 0;
    position: fixed;
    top: 90px;
    height: calc(100% - 90px); // minus navigation and player
    width: 100%;

    &.active {
        opacity: 1;
        display: block;
        transform: translate3d(0, 0, 0);
        transition: all ease-out 0.2s;
    }
}
