.excludes {
    width: 500px;
    right: 0;
    position: absolute;
    height: 100%;
    overflow-x: auto;
    display: none;

    &.active {
        display: block;
    }

    &--exclude {
        margin-bottom: 5px;
        position: relative;

        &__body {
            padding: 5px 10px;
            background-color: rgba($color-primary-dark, 0.5);
        }

        &__field {
            font-weight: 300;
            font-size: $fs-xs;
        }

        &__value {
            font-weight: 900;
            font-size: $fs-s;
        }

        &__button {
            font-size: $fs-xxs;
            position: absolute;
            right: 20px;
            bottom: 10px;
            padding: 5px 10px;
            cursor: pointer;
            background-color: rgba($color-warn, 0.6);
            color: white;

            &:hover {
                background-color: white;
                color: $color-primary-dark;
            }
        }

        &:hover {
            background-color: rgba($color-primary, 0.8);
        }
    }
}
