# Let new devices join our zigbee network
permit_join: true

mqtt:
  base_topic: zigbee
  server: mqtt://192.168.xxx.xxx:1886
  client_id: change_my_name
  version: 5

serial:
  port: /dev/ttyUSB0
 # adapter: ezsp

frontend:
  port: 7080
  host: 0.0.0.0

advanced:
#  network_key: GENERATE
  output: attribute
  log_level: debug